*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #ffffff;
}
.navbar{
  padding: 20px;
  margin: 20px;
}
.navbar ul{
  display: flex;
  float: right;
  list-style: none;
  gap: 30px;
}
.navbar a{
     text-decoration: none;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 1.3rem;
     color: #000
}
.navbar a:hover{
      background-color: beige;
      margin: 8px;
      padding: 8px;
      border-radius: 50%;
}
h1{
  float: left;
  padding: 20px;
  margin: 20px;
  font-family: cursive;
  font-size: 2.0rem;
}
h2{
  text-align: center;
  font-family: cursive;
  font-size: 2.0rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #00509d;
}
h3{
  padding: 20px;
  margin: 20px;
  font-family: cursive;
  font-size: 2.0rem;
  text-align: left;
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.0rem;
  padding: 30px;
  margin: 30px;
  color: #000;
  float: left;
}
.hero{
  color: #000;
  padding: 20px;
  margin: 20px;
  font-family: cursive;
  font-size: 2.0rem;
  text-align: center;
}
.navbar2{
  list-style: none;
  text-align: center;
  font-family: cursive;
  font-size: 1.3rem;
}
.Contact{
  padding: 20px;
  margin: 20px;
  font-family: cursive;
  font-size: 2.0rem;
  text-align: left;
  list-style: none;
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
  width: 70%;
}
main{
  padding: 20px;
  margin: 20px;
  margin-top: 30px;
}

input[type="submit"]{
  padding: 10px 20px;
  background-color: #00509d;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
}
button{
  padding: 10px 20px;
  background-color: #00509d;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 20px;
  margin: 20px;
}
img{
  border-radius: 50%;
}
